.create {
    width: 100%;
    padding: 0% 10%;

    margin-bottom: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 4.5rem 3.5rem;
}


/* Titulo da página */
.create h1:nth-child(1) {
    text-align: center;

    grid-column: 1/3;
    margin-top: 3rem;
}

.create h3 {
    margin-bottom: 1.5rem;
}


/* Nome do template */
.create .template-name {
    width: 100%;
    grid-column: 1/2;
}

.create .template-name input {
    width: 100%;
    padding: 1.5rem;
    min-width: 400px;
    max-width: 800px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-size: 1.8rem;
}


/* Manual */
.create .how-to {
    width: 100%;
    height: 100%;

    grid-column: 2/3;
    grid-row: 2/4;
}

.create .how-to span {
    width: 100%;
    height: 30rem;
    background-color: #1d1d1d;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    display: flex;
}


/* Menssagem do template */
.create .message {
    width: 100%;
    grid-column: 1/2;
}

.create .message textarea {
    width: 100%;
    padding: 1.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    outline: none;
    font-size: 1.8rem;
    resize: none;
}


/* Parâmetros */
.create .params {
    width: 100%;

    grid-column: 1/3;
}

.create .params .added-params {
    width: 100%;
    padding: 0% 10%;

    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 2.5rem 0rem;
}

.create .params .added-params .btn-add-param {
    width: 15rem;
    height: 15rem;
    cursor: pointer;
    transition: .3s;
    font-size: 1.8rem;
    font-weight: 500;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.create .params .added-params .btn-add-param:hover {
    background-color: #ff7b00;
    color: #fff;
}

.create .params .added-params .param {
    width: 15rem;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create .params .added-params .param h2 {
    font-size: 2rem;
}

.create .params .added-params .param p {
    font-size: 1.6rem;
}


/* Botão que salva o template */
.create button {
    grid-column: 1/3;
    justify-self: center;
}


/* Elemento que adiciona um novo parâmetro */
.add-param {
    width: 100%;
    height: 100%;
    background-color: #0707079a;

    position: absolute;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-param .container {
    width: 40%;
    max-height: 50%;
    overflow: auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    position: relative;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 1.5rem;
}

.add-param .container h1 {
    margin-bottom: 1rem;
}

.add-param .container .close-add-param {
    width: 4rem;
    height: 4rem;
    background-color: #000;
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-param .container .close-add-param:hover {
    background-color: #d00000;
}

.add-param .container .input-param {
    width: 80%;
    border: 2px solid #000;

    display: flex;
}

.add-param .container .input-param p {
    width: 20%;
    padding: 1rem;
    background-color: #000;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;

    margin-right: .5rem;
}

.add-param .container .input-param input,
.add-param .container .input-param select {
    width: 80%;
    font-size: 1.8rem;
}

.add-param .container .input-param option {
    font-size: 1.8rem;
}

.add-param .container .options {
    width: 100%;

    display: none;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 1rem;
}

.add-param .container .options .add-option {
    width: 4rem;
    height: 4rem;
    border: 2px solid #000;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}