.use {
    width: 90%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.5rem;
    justify-items: center;
}

.use .template_name {
    grid-column: 1/4;
    text-align: center;
    margin-top: 3rem;
}


/*
 * Parâmetros
 */
.use .params {
    width: 100%;

    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; */
}

.use .params .param {
    width: 100%;
    padding: 4rem;

    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.use .params .param .param-name {
    font-size: 2.3rem;
    font-weight: 600;

    margin-bottom: 1.5rem;
}

.use .params .param input, 
.use .params .param select,
.use .params .param textarea {
    width: 100%;
}


/*
 * Message
 */
.message {
    width: 100%;
    
    grid-column: 3/4;
    align-self: center;
    justify-self: flex-start;
}

.message h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.message p {
    padding: 2rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-size: 2rem;

}